body {
    margin: 0;
    background-image: url(./kepek/hatter.jpg);
    background-repeat: repeat-y;
    background-size: cover;
}

.wrapper2 {
    width: 80%;
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: #50394c;
    min-height: 580px;
    overflow: hidden;
    position: relative;
    border-left: 10px groove #ffef96;
    box-shadow: 10px 10px 10px 10px #666666;
    margin-bottom: 40px;
    padding: 0;
  }

.topsz{
    text-align: center;
    background-color: #50394c;
    font-size: 6vh;
    font-weight: bold;
    text-decoration: none;
    color: #ffef96;
    margin-top: 20px;
    text-shadow: 4px 4px black;
    margin-bottom: 40px;
}

.container{
    text-align: center;
    background-color: #50394c;
    color: #ffef96;
    overflow: hidden;
    padding: 10px;
    text-align: justify;
}

#elvalaszt {
    margin-top: 20px;
    margin-bottom: 10px;
    height: 10px;
    width: 100%;
    background-color: #666666;
    border-radius: 10%;
    border-top: 5px ridge #b2b2b2;
    border-bottom: 5px ridge #b2b2b2;
  }

.row {
    --bs-gutter-x: 0;
}

.kepdiv {
    position: relative;
    width: 100%;
}

.kepdiv1 {
    width: 100%;
    padding-top: 30px;
}